<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>
<body>
<%= require('../partials/top-menu.html') %>
<section class="subheader">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-md-10 pl-default">
                <%= require('../partials/svg-icons/_arrow-back-icon.html') %>
            </div>
            <div class="col-md-2 pr-default">
                <div class="subheader__search">
                    <%= require('../partials/subheader-search.html') %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-list">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="content-page__text">
                    <span class="content-page__text-title">Artisanal techniques: fabric dyeing</span>
                    <span class="content-page__text-date">by WHO I AM Gallery > 11.05.2018</span>
                    <div class="content-page__text-mini pt-default">
                        <p>
                            Техника окрашивания ткани известна человечеству на протяжении 30 тысяч лет. В древних
                            культурах сложились различные способы окраски с помощью натуральных материалов, которые,
                            вместе с постепенным открытием мира человеком, стали применяться повсеместно. Из всего
                            многообразия растительного мира практикой окрашивания были отобраны те красильные растения,
                            которые обеспечивали наиболее высокое качество, долговечность и красоту окраски.
                        </p>

                        <p>
                            Чаще всего, натуральные красители извлекались из высушенного природного сырья путем
                            вываривания в воде. В зависимости от сложности получения оттенка, цвета наделялись
                            символическими значениями и разделялись по социальным слоям. Так, наиболее простым было
                            окрашивание в желтый и коричневый оттенки: ткань вываривалась вместе с различными травами,
                            кореньями, листьями, корой, которые давали необычайно стойкий цвет. Самыми популярными
                            цветами были красный и голубой, доступные только высшим социальным сословиям. Пурпурный или
                            королевский цвет получался из средиземноморских моллюсков. Менее долговечные красные оттенки
                            изготавливались из кармина и краппа. Синий цвет получался из растений Индии и назывался
                            индиго, он оставался единственным стойким красителем вплоть до конца XIX века.
                        </p>

                        <p>
                            Существовали также способы, позволявшие окрашивать ткань не целиком, а получать на ней
                            узоры. Наиболее распространенной считается техника узелкового окрашивания, когда ткань
                            определенным образом сжималась, перевязывалась, а затем подвергалась окрашиванию. Такая
                            техника применялась в Японии (шибори), Индии (бандана) и обрела большую популярность на
                            Западе в 60-х годах XX века, получив название «тай-дай».
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/blog-detail.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>
<%= require('../partials/footer.html') %>
</body>
</html>
