<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="subheader">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md-10 pl-default">
                    <nav class="nav">
                        <a class="nav-link underline" href="#">Все</a>
                        <a class="nav-link" href="#">Предстоящие</a>
                        <a class="nav-link" href="#">Прошедшие</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="blog-list">
        <div class="container-fluid p-0">
            <div class="row no-gutters blog-list__item">
                <div class="col-md-6 d-none d-md-block">
                    <div class="blog-list__item-content">
                        <div class="blog-list__item-date">
                            <span>by WHO I AM Gallery > 03.05.2018</span>
                        </div>
                        <div class="blog-list__item-header">
                            <span>The opening of «Rethinking» exhibition</span>
                        </div>
                        <a href="javascript:void(0);" class="no-underhover blog-list__item-more">
                            More
                            <%= require('../partials/svg-icons/_arrow-right-white.html') %>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="blog-list__item-content d-md-none">
                        <div class="blog-list__item-date">
                            <span>by WHO I AM Gallery > 03.05.2018</span>
                        </div>
                        <div class="blog-list__item-header">
                            <span>The opening of «Rethinking» exhibition</span>
                        </div>
                        <a href="javascript:void(0);" class="no-underhover blog-list__item-more">
                            More
                            <%= require('../partials/svg-icons/_arrow-right-white.html') %>
                        </a>
                    </div>
                    <a href="/event-page.html">
                        <picture>
                            <source srcset="img/plastic.jpg">
                            <img src="img/plastic.jpg" alt="" class="img-fluid">
                        </picture>
                    </a>
                </div>
            </div>
            <div class="row no-gutters blog-list__item">
                <div class="col-md-6 col-sm-12">
                    <div class="blog-list__item-content d-md-none">
                        <div class="blog-list__item-date">
                            <span>by WHO I AM Gallery > 03.05.2018</span>
                        </div>
                        <div class="blog-list__item-header">
                            <span>The opening of the «Mashpit» exhibition</span>
                        </div>
                        <a href="javascript:void(0);" class="no-underhover blog-list__item-more">
                            More
                            <%= require('../partials/svg-icons/_arrow-right-white.html') %>
                        </a>
                    </div>
                    <picture>
                        <source srcset="img/girl-scream.jpg">
                        <img src="img/girl-scream.jpg" alt="" class="img-fluid">
                    </picture>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="blog-list__item-content">
                        <div class="blog-list__item-date">
                            <span>by WHO I AM Gallery > 03.05.2018</span>
                        </div>
                        <div class="blog-list__item-header">
                            <span>The opening of the «Mashpit» exhibition</span>
                        </div>
                        <a href="javascript:void(0);" class="no-underhover blog-list__item-more">
                            More
                            <%= require('../partials/svg-icons/_arrow-right-white.html') %>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= require('../partials/footer.html') %>
</body>

</html>