<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>
<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<body>
<%= require('../partials/top-menu.html') %>
<section class="subheader">
    <div class="container-fluid p-0">
        <div class="row no-gutters align-items-center">
            <div class="col-md-10 pl-default">
                <%= require('../partials/svg-icons/_arrow-back-icon.html') %>
            </div>
            <div class="col-md-2 pr-default">
                <div class="subheader__search">
                    <%= require('../partials/subheader-search.html') %>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog-single">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-md-6">
                <div class="content-page__text">
                    <span class="content-page__text-title">Artisanal techniques: fabric dyeing</span>
                    <span class="content-page__text-date">by WHO I AM Gallery > 11.05.2018</span>
                    <div class="content-page__text-mini absolute-bottom">
                        <p>
                            0 октября в арт-пространстве WHO I AM открылась выставка художественного дуэта Лилии
                            Ли-Ми-Ян и Катерины Садовски. Выставка «Rethinking» представляет работы из переработанного
                            пластика.
                        </p>

                        <p>
                            Благодарим каждого, кто провел с нами этот вечер!
                        </p>

                        <p>
                            Открытие сопровождалось концертом группы Second Sound, чья основная тема творчества —
                            природа и вселенная, со всеми загадками, таинственностью и величием.
                        </p>

                        <p>
                            В поддержку выставки «Rethinking» бренд WHO/AM представил лимитированную капсулу, созданную
                            в коллаборации с художественным дуэтом Li-Mi-Yan&Sadovsky.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="img/plastic.jpg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="row no-gutters event-gallery grid" id="lightgallery">
            <div class="grid-item">
                <a href="img/event-gallery/gallery1.jpg" class="gallery-item">
                    <picture>
                        <source srcset="img/event-gallery/gallery1.jpg" media="(max-width: 768px)">
                        <img src="img/event-gallery/gallery1.jpg" alt="" class="img-fluid">
                    </picture>
                </a>
            </div>
            <div class="grid-item">
                <a href="img/event-gallery/gallery2.jpg" class="gallery-item">
                    <picture>
                        <source srcset="img/event-gallery/gallery2.jpg" media="(max-width: 768px)">
                        <img src="img/event-gallery/gallery2.jpg" alt="" class="img-fluid">
                    </picture>
                </a>
            </div>
            <div class="grid-item">
                <a href="img/event-gallery/gallery5.jpg" class="gallery-item">
                    <picture>
                        <source srcset="img/event-gallery/gallery5.jpg" media="(max-width: 768px)">
                        <img src="img/event-gallery/gallery5.jpg" alt="" class="img-fluid">
                    </picture>
                </a>
            </div>
            <div class="grid-item">
                <a href="img/event-gallery/gallery3.jpg" class="gallery-item">
                    <picture>
                        <source srcset="img/event-gallery/gallery3.jpg" media="(max-width: 768px)">
                        <img src="img/event-gallery/gallery3.jpg" alt="" class="img-fluid">
                    </picture>
                </a>
            </div>
            <div class="grid-item">
                <a href="img/event-gallery/gallery4.jpg" class="gallery-item">
                    <picture>
                        <source srcset="img/event-gallery/gallery4.jpg" media="(max-width: 768px)">
                        <img src="img/event-gallery/gallery4.jpg" alt="" class="img-fluid">
                    </picture>
                </a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="more-btn">
                    <a href="javascript:void(0);">
                        <span>MORE</span>
                        <svg width="16" height="31" viewBox="0 0 16 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8 30L1 22.8571M8 30L15 22.8571M8 30L8 -3.0598e-07" stroke="#000200"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<%= require('../partials/footer.html') %>

<script>
    window.onload = function () {
        var elem = document.querySelector('.grid');
        var msnry = new Masonry(elem, {
            itemSelector: '.grid-item',
            columnWidth: 300,
            percentPosition: true
        });
    };
</script>
</body>
</html>
