<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="subheader">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-md-10 pl-default">
                    <nav class="nav">
                        <a class="nav-link active" href="/sale.html">Sale</a>
                        <a class="nav-link" href="#">New</a>
                        <a class="nav-link" href="#">Accessories</a>
                        <a class="nav-link dropdown-toggle" href="#" id="dropdownMenuSubHeader">
                            <svg width="17" height="8" viewBox="0 0 17 8" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect y="1" width="17" height="1" fill="black"></rect>
                                <rect x="12" width="3" height="3" fill="black"></rect>
                                <rect y="6" width="17" height="1" fill="black"></rect>
                                <rect x="2" y="5" width="3" height="3" fill="black"></rect>
                            </svg>
                            FILTER</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="dropdown-menu-custom main-menu" data-target="dropdownMenuSubHeader">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-md-3">
                        <div class="dropdown-menu__content">
                            <span class="header-gray text-uppercase">Category</span>
                            <nav class="nav flex-column">
                                <a class="nav-link" href="javascript:void(0);">Outerwear <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Sweatshirts <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Knitwear <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">T-shirts <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Shirts <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Suit jackets <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Jeans <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Trousers <sup>4</sup></a>
                                <a class="nav-link" href="javascript:void(0);">Children <sup>4</sup></a>
                            </nav>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown-menu__content">
                            <span class="header-gray text-uppercase">Color</span>
                            <div class="flex-column colors-list nav">
                                <label class="custom-checkbox colored" for="red">Red <sup>4</sup>
                                    <input type="checkbox" id="red" name="red">
                                    <span class="checkmark red"></span>
                                </label>
                                <label class="custom-checkbox colored" for="orange">Orange <sup>4</sup>
                                    <input type="checkbox" checked="checked" id="orange" name="orange">
                                    <span class="checkmark orange"></span>
                                </label>
                                <label class="custom-checkbox colored" for="yellow">Yellow <sup>4</sup>
                                    <input type="checkbox" id="yellow" name="yellow">
                                    <span class="checkmark yellow"></span>
                                </label>
                                <label class="custom-checkbox colored" for="mediumspringgreen">Medium Spring
                                    Green <sup>4</sup>
                                    <input type="checkbox" id="mediumspringgreen" name="mediumspringgreen">
                                    <span class="checkmark light-green"></span>
                                </label>
                                <label class="custom-checkbox colored" for="green">Green <sup>4</sup>
                                    <input type="checkbox" id="green" name="green">
                                    <span class="checkmark green"></span>
                                </label>
                                <label class="custom-checkbox colored" for="light-green">Light Green <sup>4</sup>
                                    <input type="checkbox" checked="checked" id="light-green" name="light-green">
                                    <span class="checkmark light-green"></span>
                                </label>
                                <label class="custom-checkbox colored" for="blue">Blue <sup>4</sup>
                                    <input type="checkbox" id="blue" name="blue">
                                    <span class="checkmark blue"></span>
                                </label>
                                <label class="custom-checkbox colored" for="light-blue">Light Blue <sup>4</sup>
                                    <input type="checkbox" id="light-blue" name="light-blue">
                                    <span class="checkmark light-blue"></span>
                                </label>
                                <label class="custom-checkbox colored" for="purple">Purple <sup>4</sup>
                                    <input type="checkbox" checked="checked" id="purple" name="purple">
                                    <span class="checkmark purple"></span>
                                </label>
                                <label class="custom-checkbox colored" for="black">Black <sup>4</sup>
                                    <input type="checkbox" id="black" name="black">
                                    <span class="checkmark black"></span>
                                </label>
                                <label class="custom-checkbox colored" for="white">White <sup>4</sup>
                                    <input type="checkbox" id="white" name="white">
                                    <span class="checkmark white"></span>
                                </label>
                                <label class="custom-checkbox colored" for="lightgoldenrodyellow">Light Golden
                                    Yellow <sup>4</sup>
                                    <input type="checkbox" id="lightgoldenrodyellow" name="lightgoldenrodyellow">
                                    <span class="checkmark yellow"></span>
                                </label>
                                <label class="custom-checkbox colored" for="mediumblue">Medium Blue <sup>4</sup>
                                    <input type="checkbox" id="mediumblue" name="mediumblue">
                                    <span class="checkmark blue"></span>
                                </label>
                                <label class="custom-checkbox colored" for="mediumpurple">Medium Purple <sup>4</sup>
                                    <input type="checkbox" id="mediumpurple" name="mediumpurple">
                                    <span class="checkmark purple"></span>
                                </label>
                                <label class="custom-checkbox colored" for="mediumseagreen">Medium Sea Green
                                    <sup>4</sup>
                                    <input type="checkbox" checked="checked" id="mediumseagreen" name="mediumseagreen">
                                    <span class="checkmark light-green"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown-menu__content">
                            <span class="header-gray text-uppercase">Size</span>
                            <div class="nav flex-column text-list-checkbox">
                                <label class="custom-checkbox text" for="xxs">
                                    <input type="checkbox" id="xxs" name="xxs">
                                    <span class="text-container">
                                        XXS <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="xs">
                                    <input type="checkbox" id="xs" name="xs">
                                    <span class="text-container">
                                        XS <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="s">
                                    <input type="checkbox" id="s" name="s">
                                    <span class="text-container">
                                        S <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="m">
                                    <input type="checkbox" id="m" name="m">
                                    <span class="text-container">
                                        M <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="l">
                                    <input type="checkbox" id="l" name="l">
                                    <span class="text-container">
                                        L <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="xl">
                                    <input type="checkbox" id="xl" name="xl">
                                    <span class="text-container">
                                        XL <sup>4</sup>
                                    </span>
                                </label>
                                <label class="custom-checkbox text" for="xxl">
                                    <input type="checkbox" id="xxl" name="xxl">
                                    <span class="text-container">
                                        XXL <sup>4</sup>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid p-0">
        <div class="row no-gutters shop-list">
            <%= require('../partials/shop-list.html') %>
            <%= require('../partials/shop-list.html') %>
        </div>
    </div>
    <%= require('../partials/footer.html') %>
</body>

</html>