<!DOCTYPE html>
<html lang="en">
<%= require('../partials/head.html') %>

<body>
    <%= require('../partials/top-menu.html') %>
    <section class="subheader">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-10 pl-default">
                    <nav class="nav">
                        <a class="nav-link" href="#">Man</a>
                        <a class="nav-link" href="#">Woman</a>
                        <a class="nav-link" href="#">Accessories</a>
                        <a class="nav-link active" href="#">Sale</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <section class="content-page">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-md-6">
                    <div class="content-page__text content-page__about">
                        <h1>Lorem Ipsum</h1>
                        <div class="content-page__text-mini absolute-bottom">
                            <p>
                                WHO I AM Gallery is an interdisciplinary space that unites fashion, design and
                                contemporary art. The gallery regularly hosts exhibitions, lectures, discussions and
                                concerts.
                            </p>
                            <p>
                                WHO I AM Gallery is interested in the support and development of contemporary
                                art. Each project of the gallery in collaboration with contemporary artists is a free
                                artistic statement, addressing a variety of aspects and issues of contemporary culture
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="/img/sale_bg.jpg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid p-0">
        <div class="row no-gutters shop-list">
            <%= require('../partials/shop-list.html') %>
            <%= require('../partials/shop-list.html') %>
        </div>
    </div>
    <%= require('../partials/footer.html') %>
</body>

</html>